@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: linear-gradient(45deg, #1e90ff, #fff);
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.nav h1 {
  margin-right: 10px;
}
.nav a {
  text-decoration: none;
  color: #1e90ff;
  font-weight: 700;
  font-size: 1.2rem;
}

.formContainer {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 10px;
}
.formContainer h1 {
  text-align: center;
  margin-bottom: 30px;
}

.formContainer a {
  text-decoration: none;
  color: #1e90ff;
}

.form-control {
  position: relative;
  margin-bottom: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
.form-control input:focus {
  outline: none;
  border-bottom: 1px solid #1e90ff;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  background: lightblue;
  margin-top: 20px;
}
.btn:focus {
  outline: none;
}

.btn:active {
  transform: translateY(2px);
}
.text {
  text-align: center;
  margin-top: 20px;
}
